body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1a;
    color: #f0f0f0;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 80%;
    height: auto;
    border: 5px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

button {
    background-color: #333;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
} 